{% extends "process/nm2-base.html" %}
{% load i18n %}
{% load nm %}

{% block content %}

<h1>{{type_desc}}</h1>

{% include "process/requirement_status_widget.html" %}

<!-- explanation of requirement: -->
<p>{% blocktrans %}Every Debian member needs a GPG key of sufficient strength. In addition, all keys should be certified
   so we can link them to a real-world identity.{% endblocktrans %}</p>
<p>{% trans "The normal requirements are:" %}</p>
<ul>
  <li>{% trans "the key should be type RSA and version 4 or greater" %}</li>
  <li>{% trans "the key should have the sign, certify and encrypt capabilities (subkeys are encouraged)" %}</li>
  <li>{% trans "the primary cryptographic material should be at least 4096 bits" %}</li>
  <li>{% trans "the UIDs should be signed by at least two existing Debian members (1 for DM applications)" %}</li>
  <li>{% trans "pseudonyms or anonymity are acceptable in certain circumstances" %}</li>
</ul>
<p>{% trans "If the key does not meet these requirements, and you would struggle to create one which does, contact Front Desk." %}</p>
<p><b>{% trans "This check will be approved manually by Front Desk as the application progresses." %}</b></p>

<h2>{% trans "Key check results" %}</h2>

{% if status.keycheck %}
<table class="table table-sm">
  <tbody>
    <tr>
      <th>{% trans "OpenPGP fingerprint" %}</th>
      <td>{{person.fpr|fingerprint}}{% if "edit_fpr" in visit_perms %} (<a href="{% url 'fprs:person_list' key=person.lookup_key %}">{% trans "manage" context "verb; link to manage this person" %}</a>){% endif %}</td>
    </tr>
    {% with status.keycheck as keycheck %}
    <tr>
      <th>{% trans "Main key" %}</th>
      <td class="keycheck_key">
          <b>{{keycheck.main.remarks}}</b> (last updated: {{keycheck.updated|date:"Y-m-d H:i T"}})
          {% if "update_keycheck" in visit_perms %}
          <form class="inline" action="{% url 'process_update_keycheck' pk=process.pk %}" method="POST">{% csrf_token %}
            <button class="btn btn-outline-primary btn-sm" type="submit">{% trans "Update" %}</button>
          </form>
          {% endif %}
      </td>
    </tr>
    {% for uid in keycheck.uids %}
    <tr>
      <th>{% trans "UID" %} {{uid.name}}</th>
      <td class="keycheck_uid">
        <b>{{uid.remarks}}</b>, <i>{{uid.sigs_no_key}}</i> {% trans "non-DD sigs," %}
        {% if uid.sigs_ok|length > 10 %}
        {% trans "first 10 of" %} <b>{{uid.sigs_ok|length}}</b> {% trans "DD sigs:" %}
        {% else %}
        <b>{{uid.sigs_ok|length}}</b> {% trans "DD sigs:" %}
        {% endif %}
        <ul class="packed">
          {% for s in uid.sigs_ok|slice:":10" %}
          <li>{{s.4}}: {{s.9}}</li>
          {% empty %}
          <li>{% trans "none" %}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
    {% endwith %}
  </tbody>
</table>
{% else %}
<p>{% trans "No key check results available." %}</p>
{% endif %}

<h2>{% trans "Active key endorsements" %}</h2>

<table class="table table-sm">
  <thead>
    <tr>
      <th>{% trans "Endorsed by" %}</th>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Statement" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for e in endorsements %}
    <tr>
      <td>{{e.author.a_link}}</td>
      <td>{{e.date|date:"Y-m-d"}}<br><small>({{e.date|timesince}} ago)</small></td>
      <td>
        <pre class="inline-statement mb-0">{{e.text_clean}}</pre>
        <small><i>{% if e.endorsing_fpr.fpr %}{% trans "Signed with key" %} {{e.endorsing_fpr.fpr|fingerprint}}{% else %}{% trans "Unsigned" %}{% endif %}</i></small>
      </td>
      <td>
        <a class="btn btn-sm btn-primary" href="{% url 'fprs:view_raw_endorsement' key=person.lookup_key fpr=person.fpr endorsement=e.pk %}">{% trans "View raw" %}</a>
        {% if e.author == user or user.is_superuser %}
        <a class="btn btn-sm btn-warning fprs:endorsement_delete" href="{% url 'fprs:delete_endorsement' key=person.lookup_key fpr=person.fpr endorsement=e.pk %}">{% trans "Delete" %}</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% if "endorse_key" in visit_perms and person.fpr is not None %}
  <tfoot>
    <tr>
      <td colspan="3">
        <a class="btn btn-primary" href="{% url 'fprs:endorse' key=person.lookup_key fpr=person.fpr %}">Add your endorsement</a>
      </td>
    </tr>
  </tfoot>
  {% endif %}
</table>

<h2>{% trans "Log" %}</h2>

{% include "process/log_widget.html" with entries=requirement.log.all %}

{% endblock %}
